<div id="main">
  <%= image_tag 'main-img.jpg' %>
</div>

<div id="article_wrap">
    <% @posts.each do |post| %>
    <div id="article_list">
      <div>
        <h2><%= link_to post.title, post_path(post) %></h2>
        <p><%= post.created_at %></p>
        <p>
          <%= link_to '編集', edit_post_path(post) %>
          <%= link_to '削除', post_path(post),
          method: :delete,
          data: { confirm: '削除してよろしいですか？'} %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
