<% provide(:title, 'edit')%>

<%= form_for @post, url: post_path(@post) do |f| %>

  <p><%= f.label :title, "タイトル" %></p>
  <p><%= f.text_field :title  %></p>

  <p><%= f.label :body, "記事内容" %></p>
  <p><%= f.text_field :body %></p>

  <%= f.submit "create article"  %>
<% end %>

<%= render 'layouts/footer' %>
